.component19-container {
  width: 948px;
  height: 658px;
  display: flex;
  position: relative;
  background-size: cover;
  background-image: url("/playground_assets/new_project_311-1500w.png");
  background-position: center;
}
@media(max-width: 479px) {
  .component19-container {
    width: 100%;
    height: 650px;
  }
}
